* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-family: "Quattrocento Sans", sans-serif;

  color: white;
  background-color: #2d8659;
}

.game-title {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-family: "Gravitas One", cursive;
  font-size: 3rem;
  padding: 5px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: solid red 2px; */
}
.instrux {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2px 5px;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.how-to-play {
  display: none;
}
.message {
  text-align: center;
  font-size: 1.75rem;
  padding: 5px;
  margin: 5px;
  line-height: 1.5;
  height: auto;
}

.gameboard {
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1;
  position: relative;
  width: 280px;
}

.player-select-form {
  width: 100%;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-select {
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
}

select.player-select {
  width: 70px;
  padding-left: 20px;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  color: #330066;
  margin: 5px;
  height: 60px;
  background-color: white;
}

label.player-select {
  line-height: 50px;
  text-align: end;
}

.two-line.player-select {
  line-height: 1.2;
}

canvas#canvas {
  height: 280px;
  width: 280px;
  position: relative;
  z-index: 2;
  top: 0px;
  left: 0px;
  border: none;
  border-radius: 10px;
}

.selector {
  height: 64px;
  width: 64px;
  z-index: 3;
  position: absolute;
  top: 35px;
  left: 33px;
  font-size: 1.25rem;
  text-align: center;
  border: dashed 3px white;
}

.new-game {
  margin: 20px 10px;
  font-size: 1.5rem;
  font-weight: 700;
  min-height: 55px;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Quattrocentro Sans", sans-serif;
  border: none;
  background-color: white;
  color: #330066;
}

@media screen and (min-width: 619px) {
  .player-select-form {
    flex-direction: row;
  }
  select.player-select {
    margin-right: 20px;
  }
  .instrux {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 1100px) {
  .instrux {
    padding-left: 30%;
    padding-right: 30%;
  }
}
